{% load static %}
<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!----bootrap link-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Display Frequency bands</title>
	 <link rel="stylesheet" type="text/css" href="{% static   'css/style11.css' %}">
 <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
        
    </script>
</head>

<body>
	  {% include 'myapp/messages.html' %}

	  <div class="menubar" id="nav1">  
   <a href="{% url 'start' %}">go back</a>
   <p>EPILEPTIC SEIZURE DETECTION SYSTEM</p>
        
</div>
     <br>
     <center>

     	<br><br><br>
	<a href="{% url 'alpha' %}" ><button class="btn btn-light btn-lg" style="width:500px">ALPHA</button></a>
	<br><br>

	<a href="{% url 'beta' %}" ><button class="btn btn-light btn-lg" style="width:500px">BETA</button></a><br><br>


	<a href="{% url 'theta' %}"> <button class="btn btn-dark btn-lg" style="width:500px">THETA</button></a>
	<br><br>

	<a href="{% url 'delta' %}"> <button class="btn btn-dark btn-lg" style="width:500px">DELTA</button></a>
	<br><br>

    </center>
	<br><br><br>


</body>